body {
  background: #ECDBDB;
  font-family: 'Raleway', sans-serif;
  text-align:center
   }

   .error {
     color: white;
     background-color: #F5101F
   }

   a {
     color: black
   }
   ol {
     text-align: justify;
     margin: 0 auto;
     width: 30em;
   }
